<ion-header class="ion-no-border">
  <ion-toolbar color="pinterest">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Pinterest</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="pin-container">
      <ion-col>
        <div class="pin-item">
          <ion-skeleton-text style="height: 220px; border-radius: 8px; margin-bottom: 12px"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 67%"></ion-skeleton-text>
        </div>
        <div class="pin-item">
          <ion-skeleton-text style="height: 120px; border-radius: 8px; margin-bottom: 12px"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 67%"></ion-skeleton-text>
        </div>
        <div class="pin-item">
          <ion-skeleton-text style="height: 180px; border-radius: 8px; margin-bottom: 12px"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 67%"></ion-skeleton-text>
        </div>
      </ion-col>
      <ion-col>
        <div class="pin-item">
          <ion-skeleton-text style="height: 150px; border-radius: 8px; margin-bottom: 12px"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 67%"></ion-skeleton-text>
        </div>
        <div class="pin-item">
          <ion-skeleton-text style="height: 240px; border-radius: 8px; margin-bottom: 12px"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 67%"></ion-skeleton-text>
        </div>
        <div class="pin-item">
          <ion-skeleton-text style="height: 100px; border-radius: 8px; margin-bottom: 12px"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 67%"></ion-skeleton-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="white">

  </ion-toolbar>
</ion-footer>
