<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-skeleton-text style="height: 320px"></ion-skeleton-text>
  <div class="ion-padding">
    <ion-skeleton-text animated style="line-height: 24px"></ion-skeleton-text>
    <ion-skeleton-text animated class="skeleton-sm ion-margin-bottom" style="line-height: 24px; width: 67%"></ion-skeleton-text>
    <ion-skeleton-text animated></ion-skeleton-text>
    <ion-skeleton-text animated></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 67%"></ion-skeleton-text>
  </div>
  <div class="ion-padding">
    <ion-skeleton-text animated style="height: 52px; border-radius: 8px"></ion-skeleton-text>
  </div>

  <ion-item lines="none">
    <ion-avatar slot="start">
      <ion-skeleton-text class="skeleton-rouned"></ion-skeleton-text>
    </ion-avatar>
    <ion-label>
      <ion-skeleton-text animated class="skeleton-sm" style="width: 67%"></ion-skeleton-text>
    </ion-label>
  </ion-item>
</ion-content>
