<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Featured</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item lines="none">
      <ion-thumbnail slot="start" class="ion-margin-top">
        <ion-skeleton-text class="skeleton-rounded skeleton-avatar"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated class="skeleton-sm" style="width: 67%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-card-content>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 67%"></ion-skeleton-text>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-skeleton-text style="height: 120px"></ion-skeleton-text>
      <ion-skeleton-text animated style="height: 24px; width: 80%; margin-bottom: 12px"></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 67%"></ion-skeleton-text>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-skeleton-text style="height: 180px"></ion-skeleton-text>
      <ion-row class="thumbnail-list">
        <ion-col>
          <ion-skeleton-text style="height: 60px"></ion-skeleton-text>
        </ion-col>
        <ion-col>
          <ion-skeleton-text style="height: 60px"></ion-skeleton-text>
        </ion-col>
        <ion-col>
          <ion-skeleton-text style="height: 60px"></ion-skeleton-text>
        </ion-col>
        <ion-col>
          <ion-skeleton-text style="height: 60px"></ion-skeleton-text>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-list class="ion-padding-bottom">
      <ion-item lines="none" *ngFor="let item of [0,1,2,3,4,5,6]">
        <ion-thumbnail slot="start" class="ion-margin-top">
          <ion-skeleton-text class="skeleton-avatar"></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated class="skeleton-sm" style="width: 67%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
